
<button *ngIf=!isOn (click) ="toggleAddress()" class="SignIn">Sign In</button>
<button *ngIf=!notOn (click) ="toggle()" class="SignUp">Sign Up</button>

<br><br><br>
<br><br>      
          <div *ngIf="isOn">
          <form>           
            <div class="form-group">               
          <label> Enter your Email Id</label><br>
          <input required
            ngModel 
            name="EmailID"
            #EmailID="ngModel"
            id="EmailID" 
            type="text" 
            placeholder="Your Email Id">
            <div class="alert alert-danger" *ngIf="!EmailID.valid && EmailID.touched">
            <div *ngIf="EmailID.errors.required">Please enter your EmailID here</div>
            </div>
            </div>
          </form>
          </div>
            <div *ngIf="isOn">
            <form>
                <div class="form-group">
                  <label> Enter your password</label><br>
              <input required
               ngModel 
               name="password"
              #userName="ngModel" 
              id="password" 
              type="text" 
               
              placeholder="Your password">
              </div>   
              </form>
            </div>
            <button *ngIf="isOn" (click)="toggleAddress()">Log In</button>

<br><br><br>
<br>
    <div *ngIf="notOn">
         <form>           
        <div class="form-group">               
        <label> Enter your Name</label><br>
        <input required
        ngModel 
        name="CustomerName"
        #CustomerName="ngModel"
        id="CustomerName" 
        type="text" 
        placeholder="Your Name">
        <div class="alert alert-danger" *ngIf="!CustomerName.valid && CustomerName.touched">
        <div *ngIf="CustomerName.errors.required">Please enter your Name here</div>
    </div>
    </div>
  </form>
  </div>


  <div *ngIf="notOn">
    <form>           
      <div class="form-group">               
    <label> Enter your Email Id</label><br>
    <input required
      ngModel 
      name="EmailID"
      #EmailID="ngModel"
      id="EmailID" 
      type="text" 
      placeholder="Your Email Id">
      <div class="alert alert-danger" *ngIf="!EmailID.valid && EmailID.touched">
      <div *ngIf="EmailID.errors.required">Please enter your EmailID here</div>
      </div>
      </div>
    </form>
    </div>


    <div *ngIf="notOn">
      <form>           
     <div class="form-group">               
     <label> Enter your Password</label><br>
     <input required
     ngModel 
     name="password"
     #password="ngModel"
     id="password" 
     type="text" 
     placeholder="password">
     <div class="alert alert-danger" *ngIf="!password.valid && password.touched">
     <div *ngIf="password.errors.required">Please enter your correct password here</div>
 </div>
 </div>
</form>
</div>

    <button *ngIf="notOn" (click)="toggle()">Sign Up</button>

   

